<header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/shop">Marketplace</a>
        -
        <a href="auth/sign-in">Sign-in</a>
        <a href="/panier">Panier</a>
    </nav>
</header>